In [82]:
import pandas as pd
import numpy as np


data1 = pd.read_csv("Booli_sold.csv")

In [83]:
data1.head()

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.latitude,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url
0,3995000,4467.0,73.0,3.0,2018-10-15 13:33:18,1935.0,Lägenhet,3263989,2018-11-08,3820000,...,59.371033,18.054057,NaN,Stockholm,Stockholms län,260,MOHV,1901865,Broker,http://www.mohv.se/
1,1995000,1773.0,36.0,1.0,2018-10-05 14:29:28,1968.0,Lägenhet,3256231,2018-10-19,2355000,...,59.371242,18.057821,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
2,5100000,3839.0,81.0,3.0,2018-09-11 13:44:43,1936.0,Lägenhet,3236660,2018-09-27,6110000,...,59.371617,18.054716,NaN,Stockholm,Stockholms län,186,Historiska Hem AB,65645750,Broker,http://historiskahem.se/
3,5495000,4483.0,107.0,4.0,2018-08-25 02:56:56,1936.0,Lägenhet,3224374,2018-09-06,8050000,...,59.371480,18.053880,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
4,1995000,1696.0,29.0,1.0,2018-06-15 17:16:19,1936.0,Lägenhet,3185496,2018-06-18,2400000,...,59.372160,18.053542,True,Stockholm,Stockholms län,166,Mäklarhuset,204,Broker,http://www.maklarhuset.se/

### Apartment Prices

the ppsqm is **soldPrice / livingArea**  
We want then to add the new **ppsqm** column to the original table  .

In [84]:
squareMeters = data1.loc[:, "livingArea"] #select all rows : and a specific column "livingArea"

soldPrice = data1.loc[:, "listPrice"] #select all rows : and a specific column "soldPrice"

ppsqm = round(soldPrice / squareMeters) #Round the number to the nearest integer

data1["ppsqm"] = ppsqm #Adding the new columnt to the original data set

In [85]:
data1.head()

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url,ppsqm
0,3995000,4467.0,73.0,3.0,2018-10-15 13:33:18,1935.0,Lägenhet,3263989,2018-11-08,3820000,...,18.054057,NaN,Stockholm,Stockholms län,260,MOHV,1901865,Broker,http://www.mohv.se/,54726.0
1,1995000,1773.0,36.0,1.0,2018-10-05 14:29:28,1968.0,Lägenhet,3256231,2018-10-19,2355000,...,18.057821,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/,55417.0
2,5100000,3839.0,81.0,3.0,2018-09-11 13:44:43,1936.0,Lägenhet,3236660,2018-09-27,6110000,...,18.054716,NaN,Stockholm,Stockholms län,186,Historiska Hem AB,65645750,Broker,http://historiskahem.se/,62963.0
3,5495000,4483.0,107.0,4.0,2018-08-25 02:56:56,1936.0,Lägenhet,3224374,2018-09-06,8050000,...,18.053880,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/,51355.0
4,1995000,1696.0,29.0,1.0,2018-06-15 17:16:19,1936.0,Lägenhet,3185496,2018-06-18,2400000,...,18.053542,True,Stockholm,Stockholms län,166,Mäklarhuset,204,Broker,http://www.maklarhuset.se/,68793.0

Now the goal is to rank top 5 most expensive apartments w.r.t ppsqm. We want to sort the **ppsqm** by price and then see the 5 top candidates. Lets do that with the **sort** function and then print the head of our dataframe so that we can see top 5 candidates wrt ppsqm.

In [86]:
table_sorted_by_ppsqm = data1.sort_values("ppsqm", ascending=False) 
table_sorted_by_ppsqm.head()

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url,ppsqm
10,2295000,1743.0,29.0,1.0,2018-05-05 04:43:36,1935.0,Lägenhet,3125674,2018-05-19,2420000,...,18.054986,True,Stockholm,Stockholms län,136,Mäklarhuset,204,Broker,http://www.maklarhuset.se/,79138.0
50,1890000,1464.0,24.0,1.0,2016-06-11 08:55:51,1935.0,Lägenhet,2125576,2016-06-21,2450000,...,18.055270,NaN,Stockholm,Stockholms län,161,HusmanHagberg,1610,Broker,http://www.husmanhagberg.se/,78750.0
54,1795000,1374.0,23.0,1.0,2016-04-15 19:10:49,1935.0,Lägenhet,2078171,2016-04-28,2300000,...,18.055422,True,Stockholm,Stockholms län,135,Notar,1566,Broker,http://www.notar.se/,78043.0
49,3495000,3052.0,47.0,2.0,2016-07-31 06:06:54,NaN,Lägenhet,2145197,2016-08-15,3375000,...,18.053174,True,Stockholm,Stockholms län,171,Notar,1566,Broker,http://www.notar.se/,74362.0
24,2500000,1400.0,35.0,1.0,2017-09-08 15:22:24,1936.0,Lägenhet,2405043,2017-10-06,2560000,...,18.053880,NaN,Stockholm,Stockholms län,218,HusmanHagberg,1610,Broker,http://www.husmanhagberg.se/,71429.0

Now let us calculate the average ppsqm in Ekhagen. For this purpose we can just calculate the mean of the **ppsqw**. Note that the np.mean - function automatically ignores the missing values of ppsqw vector.

In [87]:
ekhagen_mean = round(np.mean(ppsqm))

print("The average ppsqm in Ekhagen is: " , ekhagen_mean )

The average ppsqm in Ekhagen is:  54127

What i find interesting about the data is that some values for the living area are missing which will naturally lead to that some values of the ppsqw will be missing ( by a trivial reasons). However when calculating the mean of ppsqw we were able to preserve the sample size.

### The Swedish Election of 2018

Calculate the total number of legitimate votes (Giltiga Röster) in Stockholm during the election. That is, sum upp the number of legitimate votes for all municipalities (kommun) in Stockholm.

In [88]:
data2 = pd.read_csv("2018_R_per_kommun.csv", sep = ";", decimal =",")
 
data2.head()

,LÄNSKOD,KOMMUNKOD,LÄNSNAMN,KOMMUNNAMN,M,C,L,KD,S,V,...,TRP,VL-S,ÖVR,OGEJ,BLANK,OG,RÖSTER GILTIGA,RÖSTANDE,RÖSTBERÄTTIGADE,VALDELTAGANDE
0,1,14,Stockholms län,Upplands Väsby,23.11,6.26,5.66,6.71,26.97,8.01,...,NaN,NaN,NaN,0.04,0.69,0.06,25830,26036,30740,84.70
1,1,15,Stockholms län,Vallentuna,28.29,10.11,7.73,7.58,18.91,4.47,...,0.0,NaN,0.00,0.02,0.59,0.08,20952,21099,23438,90.02
2,1,17,Stockholms län,Österåker,29.68,9.35,7.48,7.13,19.71,4.97,...,NaN,NaN,0.01,0.03,0.69,0.13,27711,27947,31309,89.26
3,1,20,Stockholms län,Värmdö,27.49,9.76,6.40,5.89,20.48,6.02,...,NaN,NaN,0.01,0.04,0.67,0.07,28115,28335,31371,90.32
4,1,23,Stockholms län,Järfälla,23.96,6.31,6.04,6.29,27.68,8.75,...,0.0,NaN,0.02,0.04,0.53,0.07,45654,45948,53230,86.32

Deriving stockholm and legit votes

In [89]:
votes = data2.loc[:, ["LÄNSNAMN", "RÖSTER GILTIGA"]]

filtered_votes = votes[votes["LÄNSNAMN"].str.contains("Stockholms län", case=False, na=False)]

legit_votes_in_stockholm = filtered_votes.loc[:,"RÖSTER GILTIGA"]

legit_votes_in_stockholm_sum = sum(legit_votes_in_stockholm)

legit_votes_in_stockholm_sum

1426237

In which municipality did the social democratic party (Social demokraterna, S) garner the hightest voting percentage?

We can approach this by simply filtering the data in such a way that we only se manucipalitys and precentage that S got. BY later filtering the data some more so that we rearang rows so that the highest ranks first etc we will be able to clearly see the first one. And we can also use almost the exact same approach for calculating the top 3 municipalitys and presenting it in a table after.

In [90]:
s = data2.loc[:, ["KOMMUNNAMN","S"]].sort_values(by = "S", ascending = False) #sortering and filtering the data

s.head()

    KOMMUNNAMN      S
188   Munkfors  52.18
286      Piteå  47.48
196    Hagfors  47.46
279  Överkalix  46.68
280      Kalix  45.37

In [91]:
valdeltagande = data2.loc[:, ["KOMMUNNAMN", "VALDELTAGANDE"]].sort_values(by ="VALDELTAGANDE", ascending = False)

valdeltagande.head(3)

    KOMMUNNAMN  VALDELTAGANDE
103      Lomma          93.86
59        Habo          93.35
98    Vellinge          93.13

In [92]:
!jupyter nbconvert --to markdown HW2_new.ipynb

[NbConvertApp] Converting notebook HW2_new.ipynb to markdown
[NbConvertApp] Writing 19396 bytes to HW2_new.md